<div class="row">
  <div class="col-lg-12">
    <h1>ニューレビュー登録</h1>
    <ul>
      <li>Name：<%= @restaurant.name %></li>
      <li>TEL：<%= @restaurant.tel %></li>
      <li>Address：<%= @restaurant.address %></li>
      <li>HP：<%= @restaurant.homepage %></li>
      <li>Image：<%= @restaurant.image_url %></li>
    </ul>

    <hr>
    <%= render 'form' %>
  </div>
</div>
