<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <img src="<%= @restaurant.image_url %>">
</p>


<p>
  <strong>Tel:</strong>
  <%= @restaurant.tel %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= @restaurant.homepage %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
